body {
	color: white;
	background-color: #0f1128;
	font-family: raleway;
	text-align: center;
}

button {
	font-size: 26px;
	margin: 50px;
}

#jokes {
	font-size: 20px;
	padding: 10px 10px;
	background-color: #7d7d7d;
	margin: 10px 200px;
	border-radius: 10px;
}

.pic {
	margin-top: 20px;
	width: 175px;
	border-radius: 100%;
}

.disclaimer {
	font-size: 8px;
}